.env
outputs/media/generated/**/*.json
outputs/media/generated/**/*.jpg
outputs/media/generated/**/*.png
outputs/media/flagged/*
!outputs/media/flagged/.safety.flagged

__azurite_db_table__.json
**/__pycache__/
